= simple_form_for @pin, html: { multipart: true, class: 'form-horizontal' } do |form|
  %p.notice
    = notice
  %p.alert
    = alert

  .form-group
    = form.input :title, input_html: { class: 'form-control' }

  .form-group
    = form.input :description, input_html: { class: 'form-control' }

  .form-actions
    = form.button :submit, class: 'btn btn-primary'